---
import type {BlogPostMarkdownInstance} from '$types';
import {Image} from 'astro:assets';
import {DateTime} from 'luxon';

interface Props {
  post: BlogPostMarkdownInstance;
}

const {post} = Astro.props;
---

<a href={post.url}>
  <div class="hover:translate-y-1 overflow-hidden rounded-md bg-slate-800">
    <div class="aspect-w-3 aspect-h-2">
      <Image class="h-full w-full object-cover object-center" src={import((post.frontmatter.imgSrc))} alt={post.frontmatter.imgAlt}/>
    </div>

    <div class="px-3 pt-4 pb-6 text-center">
      <h3 class="text-xl font-semibold">
        {post.frontmatter.title}
      </h3>

      <div class="mt-1 text-xs text-gray-400">
        {DateTime.fromISO(post.frontmatter.pubDate).toLocaleString(DateTime.DATE_HUGE)}
      </div>

      <div class="mt-2 text-sm">
        {post.frontmatter.description}
      </div>
    </div>
  </div>
</a>
