---
import {getEntry} from "astro:content";
import {Image} from "astro:assets";
import "../styles/cards.css";
import "../styles/link-card.css";

interface Props {
    id: string;
}

const {id} = Astro.props;
const {data: {title, icon, link}} = await getEntry("links", id);
---

<a class="card link-card" href={link} title={title} target="_blank">
    <div class="card-content">
        <Image class="link-icon" src={import((`../images/icons/${icon}.svg`))} alt={icon}/>
    </div>
</a>
